<h3 class="mb-2 text-gray-800">{{model.id ? "Update" : "Add"}} User</h3>

<div class="card shadow mb-4">
  <div class="card-body">
    <form class="user" #eform="ngForm" (ngSubmit)="onsubmit(eform)" novalidate>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name:</label>
          <input type="text"
                 class="form-control form-control"
                 [(ngModel)]="model.firstName"
                 id="firstName"
                 name="firstName"
                 #firstName="ngModel"
                 required>
          <div *ngIf="!firstName.valid  && (firstName.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="!firstName.errors.required">
              first name is required.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="lastName">Last Name:</label>
          <input type="text"
                 class="form-control form-control"
                 [(ngModel)]="model.lastName"
                 id="lastName"
                 name="lastName"
                 #lastName="ngModel"
                 required>
          <div *ngIf="!lastName.valid  && (lastName.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="!lastName.errors.required">
              last name is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-12">
          <label for="userName">Username:</label>
          <input type="text"
                 class="form-control form-control"
                 [(ngModel)]="model.userName"
                 id="userName"
                 name="userName"
                 #username="ngModel"
                 required
                 maxlength="64">

          <div *ngIf="!username.valid  && (username.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="!username.errors.required">
              Username is required.
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="email">Email:</label>
          <input type="email"
                 class="form-control form-control"
                 [(ngModel)]="model.email"
                 id="email"
                 name="email"
                 #email="ngModel"
                 email
                 required>
          <div *ngIf="!email.valid  && (email.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="!email.errors.required">
              email is required.
            </div>
            <p [hidden]="!email.errors.email">
            Please enter a valid Email!
            </p>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="password">Password:</label>
          <input type="password"
                 class="form-control form-control"
                 [(ngModel)]="model.password"
                 id="password"
                 name="password"
                 #password="ngModel"
                 required>
          <div *ngIf="!password.valid  && (password.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="!password.errors.required">
              password is required
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="cpassword">Confirm Password:</label>
          <input type="password"
                 class="form-control form-control"
                 id="cpassword"
                 name="cpassword"
                 ngModel
                 #cpassword="ngModel">
          <div *ngIf="(cpassword.touched || eform.submitted)" class="invalid-input">
            <div [hidden]="cpassword.value == password.value">
              Password doesn't match.
            </div>
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-success btn-icon-split">
        <span class="text">Save</span>
      </button>

      <a [routerLink]="['../']" class="ml-2 btn btn-light btn-icon-split">
        <span class="text"  >Cancel</span>
      </a>
    </form>
  </div>
</div>
