
<ed-grid [config]="gridconfig">
  <ng-template let-data="data" let-startPoint="startPoint">
    <thead>
      <tr>
        <th width="50px">Row</th>
        <th>User name</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody *ngIf="user?.length != 0">
      <tr *ngFor="let user of data;index as i">
        <td>{{ startPoint + i  }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
      </tr>
    </tbody>
  </ng-template>
</ed-grid>

<a [routerLink]="['edit']" class="btn btn-success btn-circle btn-lg fab-btn">
  <i class="fas fa-plus"></i>
</a>


