@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";
@import "styles/sb-admin-2.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


.sidebar.toggled .sidebar-brand .sidebar-brand-text {
  display: block;
}

.fab-btn {
  position: fixed;
  width: 5rem !important;
  height: 5rem !important;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 6rem;
}

  .fab-btn .fas {
      font-size:2rem !important;
  }

  .invalid-input {
    margin-top: 2px;
    color: red;
    font-size: 14px;
  }


.dataTables_empty {
  display: none !important;
}

table.dataTable tbody tr {
  background-color: inherit !important;
}

.dataTables_filter {
  display: none;
}

